body>*{
  display:none;
}
body::after {
    content: "Error:404";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
    font-weight: 900;
    font-size: 15px;
}
